@use 'variables' as v;
@use 'sass:color';

@mixin mobile{
    @media screen and (min-width:(v.$small)) {
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width:(v.$medium)) {
        @content;
    }
}
@mixin deskop{
    @media screen and (min-width:(v.$big)) {
        @content;
    }
}
@mixin grid($columns, $gap){
    display: grid;
    grid-template-columns: repeat($columns,1fr);
    gap: $gap;
}
@mixin boton($bgcolor, $fcolor){
    display: block;
    // margin-top:1rem;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    border: none; 
    background-color: $bgcolor;
    color: $fcolor;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-weight: 700;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: color.adjust($bgcolor, $lightness: -30%);
    }

}